---
import Base from "@/layouts/Base.astro";

---

<Base>
  <main class="pt-20">
    <section class="pb-4 pt-14 lg:py-20">
      <div class="container mx-auto">
        <div class="max-w-7xl mx-auto">
          <div class="flex flex-wrap items-center justify-start">
            <div class="w-full px-4">
              <h1 class="text-2xl lg:text-3xl font-bold mb-3 lg:mb-5">
                Terms and Conditions of Use
              </h1>

              <h2 class="text-xl lg:text-2xl font-semibold mb-3 lg:mb-5">
                1. Terms
              </h2>

              <div class="mb-3 lg:mb-5 max-w-3xl">
                <p class="text-gray-500 xl:text-lg leading-relaxed text-justify mb-5">
                  By accessing this Website, accessible from{' '}
                  <a href="/" >
                    <a class="text-blue-500 hover:text-blue-600">
                      https://tibatibangoding.github.io/                    </a>
                  </a>
                  , you are agreeing to be bound by these Website Terms and
                  Conditions of Use and agree that you are responsible for
                  the agreement with any applicable local laws. If you
                  disagree with any of these terms, you are prohibited from
                  accessing this site. The materials contained in this
                  Website are protected by copyright and trade mark law.
                </p>
              </div>

              <h2 class="text-xl lg:text-2xl font-semibold mb-3 lg:mb-5">
                2. Use License
              </h2>

              <div class="mb-3 lg:mb-5 max-w-3xl">
                <p class="text-gray-500 xl:text-lg leading-relaxed text-justify mb-5">
                  Permission is granted to temporarily download one copy of
                  the materials on Tiba-Tiba Ngoding&apos;s Website for personal,
                  non-commercial transitory viewing only. This is the grant
                  of a license, not a transfer of title, and under this
                  license you may not:
                </p>

                <ul class="list-disc px-4 text-gray-500 mb-5">
                  <li>modify or copy the materials;</li>
                  <li>
                    use the materials for any commercial purpose or for any
                    public display;
                  </li>
                  <li>
                    attempt to reverse engineer any software contained on
                    Tiba-Tiba Ngoding&apos;s Website;
                  </li>
                  <li>
                    remove any copyright or other proprietary notations from
                    the materials; or
                  </li>
                  <li>
                    transferring the materials to another person or
                    &quot;mirror&quot; the materials on any other server.
                  </li>
                </ul>

                <p class="text-gray-500 xl:text-lg leading-relaxed text-justify mb-5">
                  This will let Tiba-Tiba Ngoding to terminate upon violations of any
                  of these restrictions. Upon termination, your viewing
                  right will also be terminated and you should destroy any
                  downloaded materials in your possession whether it is
                  printed or electronic format.
                </p>
              </div>

              <h2 class="text-xl lg:text-2xl font-semibold mb-3 lg:mb-5">
                3. Disclaimer
              </h2>

              <div class="mb-3 lg:mb-5 max-w-3xl">
                <p class="text-gray-500 xl:text-lg leading-relaxed text-justify mb-5">
                  All the materials on Tiba-Tiba Ngoding&apos;s Website are provided
                  &quot;as is&quot;. Tiba-Tiba Ngoding makes no warranties, may it be
                  expressed or implied, therefore negates all other
                  warranties. Furthermore, Tiba-Tiba Ngoding does not make any
                  representations concerning the accuracy or reliability of
                  the use of the materials on its Website or otherwise
                  relating to such materials or any sites linked to this
                  Website.
                </p>
              </div>

              <h2 class="text-xl lg:text-2xl font-semibold mb-3 lg:mb-5">
                4. Limitations
              </h2>

              <div class="mb-3 lg:mb-5 max-w-3xl">
                <p class="text-gray-500 xl:text-lg leading-relaxed text-justify mb-5">
                  Tiba-Tiba Ngoding or its suppliers will not be hold accountable for
                  any damages that will arise with the use or inability to
                  use the materials on Tiba-Tiba Ngoding&apos;s Website, even if Tiba-Tiba
                  Ngoding or an authorize representative of this Website has
                  been notified, orally or written, of the possibility of
                  such damage. Some jurisdiction does not allow limitations
                  on implied warranties or limitations of liability for
                  incidental damages, these limitations may not apply to
                  you.
                </p>
              </div>

              <h2 class="text-xl lg:text-2xl font-semibold mb-3 lg:mb-5">
                5. Revisions and Errata
              </h2>

              <div class="mb-3 lg:mb-5 max-w-3xl">
                <p class="text-gray-500 xl:text-lg leading-relaxed text-justify mb-5">
                  The materials appearing on Tiba-Tiba Ngoding&apos;s Website may
                  include technical, typographical, or photographic errors.
                  Tiba-Tiba Ngoding will not promise that any of the materials in
                  this Website are accurate, complete, or current. Tiba-Tiba Ngoding
                  may change the materials contained on its Website at any
                  time without notice. Tiba-Tiba Ngoding does not make any commitment
                  to update the materials.
                </p>
              </div>

              <h2 class="text-xl lg:text-2xl font-semibold mb-3 lg:mb-5">
                6. Links
              </h2>

              <div class="mb-3 lg:mb-5 max-w-3xl">
                <p class="text-gray-500 xl:text-lg leading-relaxed text-justify mb-5">
                  Tiba-Tiba Ngoding has not reviewed all of the sites linked to its
                  Website and is not responsible for the contents of any
                  such linked site. The presence of any link does not imply
                  endorsement by Tiba-Tiba Ngoding of the site. The use of any linked
                  website is at the user&apos;s own risk.
                </p>
              </div>

              <h2 class="text-xl lg:text-2xl font-semibold mb-3 lg:mb-5">
                7. Site Terms of Use Modifications
              </h2>

              <div class="mb-3 lg:mb-5 max-w-3xl">
                <p class="text-gray-500 xl:text-lg leading-relaxed text-justify mb-5">
                  Tiba-Tiba Ngoding may revise these Terms of Use for its Website at
                  any time without prior notice. By using this Website, you
                  are agreeing to be bound by the current version of these
                  Terms and Conditions of Use.
                </p>
              </div>

              <h2 class="text-xl lg:text-2xl font-semibold mb-3 lg:mb-5">
                8. Your Privacy
              </h2>

              <div class="mb-3 lg:mb-5 max-w-3xl">
                <p class="text-gray-500 xl:text-lg leading-relaxed text-justify mb-5">
                  Please read our Privacy Policy.{' '}
                  <a href="/privacy-policy" class="text-blue-500 hover:text-blue-600">
                    Click here.
                  </a>
                </p>
              </div>

              <h2 class="text-xl lg:text-2xl font-semibold mb-3 lg:mb-5">
                9. Governing Law
              </h2>

              <div class="mb-3 lg:mb-5 max-w-3xl">
                <p class="text-gray-500 xl:text-lg leading-relaxed text-justify mb-5">
                  Any claim related to Tiba-Tiba Ngoding&apos;s Website shall be
                  governed by the laws of id without regards to its conflict
                  of law provisions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Base>